*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

h2, h3{
    text-align: center;
}

.txtBx {
  background-color: #c9deb2;
  border-radius: 15px;
  padding: 16vh;
  conten;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 14px;
}

.titleBx{
  color: black;
  text-decoration: underline #093607;
  justify-self: center;
  display: flex;
  margin-top: -6.5rem;
  margin-left: -6rem;
  grid-row:inherit;
}

.titletxt{
  margin-left: -6rem;
  margin-right: -6.5rem;
  margin-top: 14px;
  margin-bottom: 14px;
}

section{
    padding: 3rem 0 2rem;
}
button{
  display: inline-block;
  text-decoration: none;
  width: 20%;
  padding: 5px;
  border-radius: 4px;
  background-color: #093607;
  color: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.center {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}
.text-container {
  padding: 1em;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}
.text{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.buttonsection{
    text-align: center;
}
.team-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}
.title {
    font-size: 3rem;
    text-align: center;
}
