* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}

h2,
h3 {
  text-align: center;
}

h3 {
  font-size: 26px;
}

.titletxt {
  color: black;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-left: 4rem;
  margin-right: 4rem;
}

.titletxt:last-child {
  margin-bottom: 4rem;
}

.about {
  color: #093607;
  text-decoration: underline;
}

button {
  display: inline-block;
  text-decoration: none;
  width: 20%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #093607;
  color: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.center tr {
  display: flex;
}

.center tr td {
  padding-right: 2rem;
}

.container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  height: 100%;
}

.text-container {
  width: 100%;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: auto;
}

.text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home {
  width: 100%;
  min-height: 440px;
  background: #000000;
  display: grid;
  justify-content: center;
  align-items: center;
}

::selection {
  color: #c9deb2;
  background: #093607;
}

.home-text {
  color: #c9deb2;
  text-align: center;
  display: flex;
  align-items: center;
}

.home-title {
  font-size: 3.5rem;
}

.buttonsection {
  text-align: center;
}
.team-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}

@media screen and (max-width: 910px) {
  .values {
    width: 100%;
  }

  .center tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .center tr td {
    margin-top: 1rem;
    padding: 0;
  }
}
