@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* CSS Variables */
:root {
  --bg-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);
  --font-family: "Roboto", sans-serif;
  --bold-font-weight: 550;
  --h1-size: clamp(3rem, 3vw + 2rem, 7rem);
  --h2-size: 2rem;
  --h3-size: 1.5rem;
}

/* Reusable Classes */

.left {
  float: left;
}

.right {
  float: right;
}

/* General Styles */

h1 {
  font-size: var(--h1-size);
  font-weight: var(--bold-font-weight);
  text-align: center;
  /* padding-left: 6rem; */
  /* height: ; */
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--bold-font-weight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--bold-font-weight);
}

.temp {
  height: 100vh;
  width: 100%;
  background-image: url("randomPic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}

.h1-container {
  backdrop-filter: blur(6px);
  height: 100vh;
  color: rgb(255, 255, 255);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: 1.5s 1 slidein ease-in-out;
}

#overview {
  display: flex;
  margin: 0 3em 0 3em;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
}

#overview h2 {
  text-align: center;
}

#overview img {
  width: 50%;
  height: auto;
  min-width: 100px;
}

#overview .text-overview {
  padding-left: 1rem;
}

#card-section {
  display: flex;
  justify-content: center;
}

#card-container {
  display: flex;
  gap: 1rem;
  width: 95%;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}

.card h3 {
  color: rgb(31, 117, 27);
  text-align: center;
  padding: 0.1em 0 0.1em 0;
}

.card p {
  text-align: center;
  padding: 0.1rem;
}

.card img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border-radius: 1rem 1rem 0 0;
}

#information-container {
  display: flex;
  justify-content: center;
}

.information-article {
  display: flex;
  width: 95%;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
}

.information-article img {
  width: 100%;
  height: auto;
  min-width: 200px;
  margin-right: 1rem;
}

.information-article h2 {
  text-align: center;
}

@keyframes slidein {
  0% {
    transform: translateX(-500px);
  }
}

@media screen and (min-width: 375px) {
  .h1-container {
    width: 100%;
  }

  #overview {
    flex-wrap: wrap-reverse;
  }

  #overview img {
    width: 100%;
  }

  #card-container {
    flex-wrap: wrap;
  }

  .information-article {
    flex-wrap: wrap;
  }

  .information-article img {
    margin-right: 0px;
  }
}

@media screen and (min-width: 700px) {
  .h1-container {
    width: 50%;
  }
  #overview {
    flex-wrap: nowrap;
  }
  #card-container {
    flex-wrap: nowrap;
  }

  .information-article {
    flex-wrap: nowrap;
  }

  .information-article img {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .h1-container {
    width: 35%;
  }
}
