body {
  margin: 0;
  font-family: Arial, sans-serif;
}
::selection {
  color: #c9deb2;
  background: #093607;
}
.home {
  width: 100%;
  min-height: 440px;
  background: black;
  display: grid;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.home-text {
  color: #c9deb2;
  text-align: center;
}

.home-title {
  font-size: 3.5rem;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.solution {
  margin-top: 2em;
  width: 100%;
  color: #000;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  margin: 0 1.5em 2em 1.5em;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  transition: opacity 0.5s ease;
}

.solution img {
  width: 30%;
  height: auto;
  min-width: 250px;
}

.solution h2 {
  text-align: center;
}

.solution:nth-child(3) img {
  margin-right: 1rem;
}

.content:nth-child(odd) {
  padding-right: 1em;
}

.content:nth-child(even) {
  padding-left: 1em;
}

.solution h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.text-container a {
  color: #000;
}
.solution p {
  font-size: 1.2em;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: #45a049;
}

@media screen and (min-width: 375px) {
  .content:nth-child(1) {
    flex-wrap: wrap;
    padding: 0;
  }
  #solution2 .content {
    flex-wrap: wrap-reverse;
  }

  #solution4 .content {
    flex-wrap: wrap-reverse;
  }

  figure {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 910px) {
  #solution1 .content {
    flex-wrap: nowrap;
  }
  #solution2 .content {
    flex-wrap: nowrap;
  }
  #solution3 .content {
    flex-wrap: nowrap;
  }
  #solution4 .content {
    flex-wrap: nowrap;
  }
}
